body {
    font-family: "Raleway", sans-serif;
}
a { 
    text-decoration:none;
    color: inherit; 
} 

.mainpage {
    background-color: #fdfdfd;
}
.spacer {
    height: 2rem;
}
.wrapper {
    width: 960px;
    padding: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfdfd;
    border-bottom: 4px dotted #000000;
    border-top: 4px dotted #000000;
}

#navbar {
    text-align: center;
}
#navbar ul {
    display: inline-block;
    list-style: none;
}
#navbar li {
    display: inline;
    padding: 14px 16px;
}



#title-header {
    text-align: center;
    font-size:3rem;
}